@import "./scss/nav";
@import "./scss/home";
@import "./scss/footer";

:root{
  /* SCROLLBAR ON MOZILLA FIREFOX */
  scrollbar-color: #FFFC63 #8B0000 !important;
  scrollbar-width: thin !important; 
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* SCROLLBAR ON MOST BROWSERS */
.scroll {
  width: 30%;
  height: 100px;
  border: 1px solid grey;
  overflow: scroll;
  display: inline-block;
}
.scroll-width-auto {
  scrollbar-width: auto;
}
.scroll-width-thin {
  scrollbar-width: thin;
}
.scroll-width-none {
  scrollbar-width: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8B0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFC63;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFFD88;
}
