.footer {
  background: linear-gradient(#8B0000, #300000);
  background-image: url(./../public/chinese-bg.jpg);
  background-size: cover;
  color: #FFFC63;
  display: flex;
  justify-content: center;
  font-family: "Blinker", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 1.5px;
  border-top: 5px groove #FFFC63;
  border-bottom: 5px groove #FFFC63;

  &__contact {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: .75rem;
    margin-bottom: .25rem;


    & li {
      display: flex;
      margin-bottom: .1rem;
    }

    
    & li a {
      display: block;
      
    }
    
    & li i {
      display: block;
      padding: .25rem;
      margin-right: .25rem;
    }
    
    & li .phone {
      width: 15px;
      padding-left: .25rem;
    }

    & li,
    & li a {
      transition: color .25s;
    }

    & li:hover,
    & li:focus,
    & li a:hover,
    & li a:focus {
      color: #FFF;
    }
  }

  &__hours {
    margin-block: .25rem;
    font-weight: 300;
    text-align: center;
  }

  &__social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: .5rem;
    font-size: 1.625rem;

    & li i {
      transition: color .25s;
    }

    & li i:hover,
    & li i:focus {
      color: #FFF;
    }
  }
}

a {
  text-align: center;
  color: #FFFC63;
  text-decoration: none;
}

li {
  list-style: none;
}

.signature {
  padding-block: .5rem;

  & a {
    transition: color .25s;
  }

  & a:hover {
    color: #FFF;
  }
}

// DESKTOP
@media (min-width: 45em) {
  .footer {
    font-size: 1.5rem;
    letter-spacing: 2px;

    &__contact {
      gap: .5rem;
      margin-top: 1.25rem;
      margin-bottom: .75rem;
  
  
      & li {
        margin-bottom: .25rem;
      }
    }
  
    &__hours {
      margin-block: .5rem;
    }
  
    &__social-media {
      gap: 2rem;
      margin-top: 1rem;
      font-size: 2rem;
    }
  }
  
  a {
    text-align: center;
    color: #FFFC63;
    text-decoration: none;
  }
  
  .signature {
    padding-block: .5rem;
  }
  
}