.main {
  background-color: #8B0000;
  background-image: url(./../public/dragon-bg-2.jpg);
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;
  border-bottom: 5px groove #FFFC63;
}

.loader__container {
  outline: 1px solid pink;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  background-color: #777;
  background-image: url(./../public/chinese-bg.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  font-family: 'Blinker', sans-serif;
  position: relative;

  &__sticky-top {
    position: relative;
    border-bottom: 5px groove #FFFC63;
  }

  &--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  &__title {
    cursor: pointer;
    background: linear-gradient(#4E0000, #8B0000, #4E0000);
    user-select: none;
    padding-inline: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    color: #FFFC63;
    font-size: 1.75rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
    z-index: 1;

    &:active {
      -webkit-tap-highlight-color: transparent;
    }

    & i {
      text-shadow: none;
      position: absolute;
      right: 1.25rem;
      top: 1.5rem;
    }

    & .expanded {
      transform: rotate(0deg);
      transition: transform .4s;
    }

    & .collapsed {
      transform: rotate(180deg);
      transition: transform .4s;
    }
  }


}

.food {
  color: #EEE;
  overflow: hidden;
  transition:
    max-height .5s ease-in-out,
    opacity 1s;
    
    &--hidden {
    opacity: 0;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: 1.25rem;
    padding-block: 1.75rem;
    gap: 2rem;

    &::after {
      content: "";
      background: linear-gradient(to right, transparent, #FFFC63, transparent);
      height: 1px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
  }
  }
  
  &__container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    color: #FFFC63;
    text-shadow: 2px 2px 2px #000;
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__desc {
    color: #eee;
    text-shadow: 2px 2px 2px #000;
    padding-top: .25rem;
    padding-bottom: .75rem;
    font-size: 1.35rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__price {
    color: #FFFC63;
    text-shadow: 2px 2px 2px #000;
    font-size: 1.75rem;
    letter-spacing: 1.5px;
  }
}

// DESKTOP
@media (min-width: 45em) {
  .main {
    height: 100vh;
  }

  .section {

    &__title {
      padding-inline: 1.25rem;
      padding-top: 1.75rem;
      padding-bottom: 1.5rem;
      font-size: 2.25rem;
      text-align: center;
    }
  }
  
  .food {
  
    &__container {
      position: relative;
      display: flex;
      max-width: 100em;
      margin-inline: auto;
      padding-block: 5rem;

        &::after {
          content: "";
          background: linear-gradient(to right, transparent, #FFFC63, transparent);
          height: 1px;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
      }
    }
  
    &__title {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
  
    &__desc {
      font-size: 2.25rem;
      font-weight: 300;
      letter-spacing: 1.5px;
    }
  
    &__price {
      font-size: 2.5rem;
    letter-spacing: 1.5px;
    }
  
    &__img {
      height: 150px;
    }
  }
}
